<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/css/bootstrap/dist/css/bootstrap.css">
  <title>首页</title>
</head>
<body>
  <div class="page-header" style="margin: 50px 0">
    <h2 style="text-align: center">爬取掘金前端优质文章</h2>
  </div>
  <ul class="list-group">
    {{each result}}
    <li class="list-group-item">
      <a href="{{$value.originalUrl}}" target="_blank">{{$value.title}}</a>
      <span>{{$value.user.username}}</span>
    </li>
    {{/each}}
  </ul>
</body>
</html>